@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Intel", sans-serif;
}

body{
    font-family: "Inter", sans-serif;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
}

h3{
    margin: 10px 0;
}

h4{
    margin: 10px 0;
}

h6{
    margin: 10px 0;
    text-transform: uppercase;
}

p{
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.card-container{
    background-color: #353b48;
    border-radius: 5px;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.75);
    color: #b3b8cd;
    padding-top: 30px;
    width: 350px;
    max-width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 20px;
}

.pro{
    color: #231e39;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.online{
    background-color: greenyellow;
}

.offline{
    background-color: tomato;
}

.img{
    border: 3px solid #fff;
    margin-top: 50px;
    border-radius: 50%;
    padding: 3px;
    width: 200px;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}

button.primary{
    background-color: #69afe5;
    border: 1px solid #69afe5;
    border-radius: 3px;
    padding: 10px 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

button.primary.outline{
    background-color: transparent;
}

.skills{
    background-color: #2f3640;
    text-align: left;
    margin-top: 15px;
    padding: 15px;
}

.skills ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.skills ul li{
    border: 1px solid #595180;
    display: inline-block;
    border-radius: 2px;
    padding: 7px;
    margin: 0 7px 7px 0;
    font-size: 12px;
}